/* Resetowanie domyślnych stylów przeglądarki */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Stylizacja podstawowa */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f9f9f9;
}

/* Ekran powitalny */
#welcome-screen {
    text-align: center;
    margin-top: 50px;
}

#welcome-screen input {
    padding: 10px;
    font-size: 16px;
    margin: 5px;
}

#welcome-screen button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
}

#game-container {
    display: none;
}

#game-title {
    margin-top: 20px;
    margin-bottom: 20px;
    color: #333;
}

/* Kontenery puzzli */
#puzzle-container, #pieces-container {
    margin: 20px auto;
    border: 2px solid #333;
    background-color: #fff;
    position: relative;
    display: grid;
    grid-gap: 0;
}

/* Miejsca na puzzle i kawałki puzzli */
.puzzle-slot, .puzzle-piece {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.puzzle-slot {
    border: 1px dashed #aaa;
    width: 100%;
    height: 100%;
}

.puzzle-piece {
    cursor: grab;
    width: 100%;
    height: 100%;
}

.puzzle-piece img {
    width: 100%;
    height: 100%;
    display: block;
}

/* Stylizacja przycisku "Spróbuj ponownie" */
#retry-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 20px;
}
